{{{include "navigation.html"}}}

<div id="main">
  <h1 class="big">Хороший, плохой, злой</h1>

  <ul class="blogposts">
    {{#each rows}}
      {{#with value}}
        <li class="{{#if published}}published{{else}}draft{{/if}}">
          <h2><a href="{{baseURL}}/posts/{{slug}}">{{title}}</a></h2>
          <div class="meta">
            {{#if published}}<span class="date">{{pp_date}}</span>{{else}}<span class="warning">Черновик</span>{{/if}}
            <div class="extra">
            </div>
          </div>
          {{{intro_html}}}
          <p><a href="{{baseURL}}/posts/{{slug}}">Читать далее...</a></p>
        </li>
      {{/with}}
    {{/each}}
  </ul>
</div>