{{{include "navigation.html"}}}

<div id="main">
{{#with doc}}
  <h1>{{title}}</h1>

  <div class="meta">
    {{#if published}}<span class="date">{{pp_date}}</span>{{else}}<span class="warning">Черновик</span>{{/if}}
    <!--div class="extra">
      <a href="#disqus_thread" class="comments">0 комментарии и 0 реакций</a>
    </div-->
  </div>

  <div class="main">
    {{{intro}}}
    {{{markdown_html}}}
  </div>

  <div id="disqus_thread"></div>

  <script type="text/javascript">
      /**
      * var disqus_identifier; [Optional but recommended: Define a unique identifier (e.g. post id or slug) for this thread] 
      */
      var disqus_identified = '{{slug}}';
      var disqus_developer = 1; // developer mode is on
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://peterkur.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>

  <noscript>Включите поддержку JavaScript в вашем браузере для того, чтобы видеть <a href="http://disqus.com/?ref_noscript=peterkur">комментарии, которые предоставлены Disqus.</a></noscript>
{{/with}}
</div>
