{{{include "navigation.html"}}}

<div id="main">
  <h1>Курышев Пётр Анатольевич</h1>
  <h2>Контактная информация</h2>
  <p>Телефон: +7 (911) 910 02 66</p>
  <p>E-mail: <a href="mailto:peter.kurishev@gmail.com"><span class="s2">peter.kurishev@gmail.com</a></p>
  <p class="p4"><span class="s3">Web: <a href="http://peter.infosreda.ru/"><span class="s4">http://peter.infosreda.ru/</span></a></span></p>
  <p class="p2"><span class="s1"><b>Образование</b></span></p>
  <p class="p3"><span class="s1">1996-2000, Санкт-Петербургский государственный университет водных коммуникаций, г. Санкт-Петербург (высшее)<br>
    юридический факультет, кафедра транспортного права</span></p>
    <p class="p5"><span class="s1"></span><br></p>
    <p class="p6"><span class="s1">1998-2001, Санкт-Петербургский государственный университет,<br>
      г. Санкт-Петербург (неоконченное высшее)<br>
      экономический факультет, кафедра экономики исследований и разработок</span></p>
      <p class="p2"><span class="s1"><b>Опыт работы</b></span></p>
      <p class="p3"><span class="s1">апрель 2012 – настоящее время, ООО «Вуаро»<br>
        г. Санкт-Петербург<br>
        Технический директор</span></p>
        <ul>
          <li class="li3"><span class="s1">Реорганизация процессов в отделе разработки ПО</span></li>
          <li class="li3"><span class="s1">Координация работ по проектам компании</span></li>
          <li class="li3"><span class="s1">Регламентация деятельности компании производственного подразделения</span></li>
          <li class="li3"><span class="s1">Участие в процессе найма сотрудников</span></li>
          <li class="li3"><span class="s1">Участие в процессе разработки (Python/Django)</span></li>
          <li class="li7"><span class="s1">Внедрение итеративного процесса разработки Scrum</span></li>
        </ul>
        <p class="p8"><span class="s1"></span><br></p>
        <p class="p3"><span class="s1">июль 2011 – апрель 2012, ООО «ИнфоСреда»<br>
          г. Санкт-Петербург<br>
          Заместитель генерального директора<span class="Apple-tab-span"> </span></span></p>
          <ul>
            <li class="li3"><span class="s1">Реорганизация процессов в отделе разработки ПО</span></li>
                    <li class="li3"><span class="s1">Внедрение системы управленческого учета</span></li>
                    <li class="li3"><span class="s1">Координация работ по проектам компании</span></li>
                    <li class="li3"><span class="s1">Участие в переговорах с клиентами</span></li>
                    <li class="li3"><span class="s1">Участие в разработках проектов и продуктов компании</span></li>
                    <li class="li3"><span class="s1">Составление планов работ и договоров на проекты</span></li>
                    <li class="li3"><span class="s1">Регламентация внутренней деятельности компании</span></li>
                    <li class="li3"><span class="s1">Внедрение итеративного процесса разработки Scrum</span></li>
                    <li class="li3"><span class="s1">Участие в процессе найма сотрудников</span></li>
                    <li class="li7"><span class="s1">Составление бюджета компании</span></li>
                  </ul>
                  <p class="p9"><span class="s1"></span><br></p>
                  <p class="p3"><span class="s1">август 2010 – июль 2011, ООО «Е-Тикетс электронные билеты»<br>
                    г. Санкт-Петербург<br>
                    Директор по разработке ПО</span></p>
                    <ul>
                      <li class="li3"><span class="s1">Создание команды разработчиков</span></li>
                      <li class="li3"><span class="s1">Полный редизайн и изменение технической архитектуры решения</span></li>
                      <li class="li3"><span class="s1">Участие в анализе функциональных требований</span></li>
                      <li class="li3"><span class="s1">Оперативное управление командой разработчиков и подрядчиков</span></li>
                      <li class="li3"><span class="s1">Внедрение итеративного процесса разработки Scrum</span></li>
                      <li class="li3"><span class="s1">Составление бюджета отдела разработки ПО</span></li>
                      <li class="li7"><span class="s1">Участие в процессе найма сотрудников</span></li>
                    </ul>
                    <p class="p9"><span class="s1"></span><br></p>
                    <p class="p3"><span class="s1">февраль 2009 – июль 2011, ООО «ИнфоСреда»<br>
                      г. Санкт-Петербург<br>
                      Директор по разработке ПО, менеджер проектов</span></p>
                      <ul>
                        <li class="li10"><span class="s1">Работа с заказчиками</span></li>
                        <li class="li10"><span class="s1">Управление процессом разработки</span></li>
                        <li class="li10"><span class="s1">Управление проектами</span></li>
                        <li class="li11"><span class="s1">Участие в разработке проектов</span></li>
                      </ul>
                      <p class="p9"><span class="s1"></span><br></p>
                      <p class="p3"><span class="s1">ноябрь 2009 – февраль 2010, ЗАО «Петер-Сервис»<br>
                        г. Санкт-Петербург<br>
                        Ведущий инженер-программист</span></p>
                        <ul>
                          <li class="li10"><span class="s1">Анализ запросов на изменение ПО</span></li>
                          <li class="li10"><span class="s1">Написание технических и функциональных спецификаций для реализации в программных системах, реализованных на базе СУБД Oracle</span></li>
                          <li class="li11"><span class="s1">Работа с большими объемами информации</span></li>
                        </ul>
                        <p class="p12"><span class="s1"></span><br></p>
                        <p class="p3"><span class="s1">август 2008 – сентябрь 2009, ООО «Норс Атлантик Софтвер»<br>
                          г. Санкт-Петербург<br>
                          Технический директор</span></p>
                          <ul>
                            <li class="li10"><span class="s1">Управление полным циклом разработки ПО</span></li>
                            <li class="li10"><span class="s1">Обеспечение управляемой инфраструктуры для обеспечения работы команды разработчиков и других служб</span></li>
                            <li class="li10"><span class="s1">Постановка задач и контроль их выполнения</span></li>
                            <li class="li10"><span class="s1">Подготовка проектной и предпроектной документации, анализ рисков реализации</span></li>
                            <li class="li10"><span class="s1">Участие в разработке ПО (Python, Django, MySQL, Sphinx, PostgreSQL)</span></li>
                            <li class="li11"><span class="s1">Участие в процессе найма сотрудников</span></li>
                          </ul>
                          <p class="p12"><span class="s1"></span><br></p>
<p class="p3"><span class="s1">июнь 2006 – сентябрь 2008, ООО «Алдата Солюшн»<br>
  г. Санкт-Петербург<br>
  Старший технический консультант, Технический директор</span></p>
  <ul>
    <li class="li10"><span class="s1">Анализ требований клиентов</span></li>
    <li class="li10"><span class="s1">Разработка и тестирование компонентов программных продуктов, баз данных (Oracle, PL/SQL, Java)</span></li>
    <li class="li10"><span class="s1">Создание и управление командами поддержки и разработки ПО</span></li>
    <li class="li10"><span class="s1">Разработка специализированного ПО на базе собственного каркаса (C++) для Linux, Sun Solaris и IBM AIX.</span></li>
    <li class="li10"><span class="s1">Написание технической документации</span></li>
    <li class="li10"><span class="s1">Участие в процессе найма сотрудников</span></li>
    <li class="li10"><span class="s1">Разработка отчетов (C++, Java, XML и Apache FOP)</span></li>
    <li class="li11"><span class="s1">Создание архитектуры ПО</span></li>
  </ul>
  <p class="p12"><span class="s1"></span><br></p>
  <p class="p3"><span class="s1">сентябрь 2001 – июнь 2006, ЗАО «Северо-западный GSM», ОАО «МегаФон»<br>
    г. Санкт-Петербург<br>
    Инженер-программист, Старший инженер-программист</span></p>
    <ul>
      <li class="li10"><span class="s1">Разработка процедур обработки данных (PL/SQL)</span></li>
      <li class="li10"><span class="s1">Проектирование структуры БД подсистем биллиноговой системы</span></li>
      <li class="li10"><span class="s1">Анализ, проектирование, разработка и сопровождение приложений (в т.ч. кассовое приложение, система генерации отчетов, система мониторинга процессов, система факсовых рассылок, подсистема поддержки удаленной работы фискального регистратора через TCP/IP сеть</span></li>
      <li class="li10"><span class="s1">Поддержка разработанных приложений и процедур биллинговой системы</span></li>
      <li class="li10"><span class="s1">Формирование отчетности биллинговой системы (в т.ч. бухгалтерской)</span></li>
      <li class="li10"><span class="s1">Внедрение платежной системы и подсистемы ЕКО (единых карт оплаты)</span></li>
      <li class="li11"><span class="s1">Создание документации (функции технического писателя)</span></li>
    </ul>
    <p class="p12"><span class="s1"></span><br></p>
    <p class="p3"><span class="s1">ноябрь 2000 – август 2001, ЗАО «SPN Digital»<br>
      г. Санкт-Петербург<br>
      Веб-программист</span></p>
      <ul>
        <li class="li10"><span class="s1">Разработка структуры базы данных</span></li>
        <li class="li10"><span class="s1">Разработка модулей к порталу www.revkom.ru</span></li>
        <li class="li10"><span class="s1">Разработка унифицированного хранилища информации для интернет проектов</span></li>
        <li class="li11"><span class="s1">Разработка системы поиска</span></li>
      </ul>
      <p class="p12"><span class="s1"></span><br></p>
      <p class="p3"><span class="s1">сентябрь 1999 – ноябрь 2000, ООО «Издательство Компьютер Прайс»<br>
        г. Санкт-Петербург<br>
        Системный администратор, Программист, Руководитель отдела ИТ</span></p>
        <ul>
          <li class="li10"><span class="s1">Разработка информационных проектов</span></li>
          <li class="li10"><span class="s1">Разработка web проектов</span></li>
          <li class="li10"><span class="s1">Управление отделом информационных технологий и технического обеспечения</span></li>
          <li class="li10"><span class="s1">Настройка серверов</span></li>
          <li class="li10"><span class="s1">CGI и Java программирование</span></li>
          <li class="li10"><span class="s1">Проектирование и реализация сайта издательства</span></li>
          <li class="li10"><span class="s1">Разработка системы доступа к базам данных товаров и услуг</span></li>
          <li class="li13"><span class="s1">Поддержка непрерывности производственного цикла</span></li>
        </ul>
        <p class="p14"><span class="s1"><b>Профессиональные знания и навыки</b></span></p>
        <ul>
          <li class="li10"><span class="s1">Языки программирования: ANSI/ISO C++, Visual C++, Perl, Object Pascal, Java, PL/SQL, Pro*C, C#, PHP, Python, Ruby, Erlang, Haskell.</span></li>
          <li class="li10"><span class="s1">Технологии: COM/DCOM, WTL, ATL, MFC, .NET, Java2 (ME, SE, EE), JSP, ООП, UML, шаблоны проектирования, RUP, XP, ADO.NET, Web services, SOA, REST, AJAX, Scrum, Agile.</span></li>
          <li class="li10"><span class="s1">Базы данных: Oracle, PostgreSQL, MySQL, Sqlite, CouchDB, MongoDB, MS SQL.</span></li>
          <li class="li10"><span class="s1">Операционные системы: Microsoft Windows (XP/2003/Vista), Linux (Debian, Gentoo, RedHat, Mandriva, SuSe, Ubuntu, Mint), FreeBSD, HP-UX, AIX, Solaris, Mac OS X.</span></li>
          <li class="li10"><span class="s1">Инструменты: Microsoft Visual Studio, gcc, vim, Emacs, Borland Delphi, CVS, Subversion, NetBeans, Eclipse, LaTeX, PL/SQL Developer, Hudson CI.</span></li>
          <li class="li15"><span class="s1">Язык: Русский (родной), Английский (свободно), Японский (начальный уровень).</span></li>
        </ul>
        <p class="p14"><span class="s1"><b>Разное</b></span></p>
        <ul>
          <li class="li10"><span class="s1">Личные качества: ответственность, коммуникабельность, активность, инициативность, обучаемость, чувство юмора.</span></li>
          <li class="li16"><span class="s1">Увлечения и интересы: горные лыжи, автомобили, информационные технологии и программирование, велосипедный спорт, блог.</span></li>
        </ul>
