<ul id="navigation">
  <li id="nav_blog"{{#ifequal nav "blog"}} class="selected"{{/ifequal}}>
    <a class="internal" href="{{baseURL}}/">Блог</a>
  </li>
  <!--li id="nav_about"{{#ifequal nav "about"}} class="selected"{{/ifequal}}>
    <a class="internal" href="{{baseURL}}/about">Обо мне</a>
  </li-->
  <li id="nav_cv"{{#ifequal nav "cv"}} class="selected"{{/ifequal}}>
    <a class="internal" href="{{baseURL}}/cv">Резюме</a>
  </li>  
  <li id="nav_twitter">
    <a href="http://twitter.com/peterkurishev">Twitter</a>
  </li>
  <li>
    <a href="http://vk.com/peterkur">vk.com</a>
  </li>
  <li>
    <a href="http://www.facebook.com/profile.php?id=100004662332664">fb.com</a>
  </li>  
  <li id="nav_github">
    <a href="http://github.com/peterkurishev">Github</a>
  </li>
</ul>

